body, html {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


.App {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-top: 20px;
  max-height: 80px;
}

.App-logo {
  height: 80px;
}

.waw-logo {
  height: 80px;
}

.App-header {
  background-color: #22224F;
  height: 150px;
  padding: 20px;
  color: white;
  width: 100%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only print {
  .App-header, .controls, input {
    display: none;
  }

  .cert {
 
    width: 100vw;
    height: 100vh;
  }

  @page {
    size: A4;
  }
}
