.cert {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: calc(100% - 80px);
	padding-top: 60px;
	padding-bottom: 60px;
	border: 1px solid #CCC;
	margin: 40px;

	/*padding-top: 70.707% */
}

.cert h1 {
	font-size: 64px;
	margin-bottom: 80px;
}

.cert .item {
	display: inline-flex;
	flex-direction: row;
	font-size: 24px;
	font-family: 'Arial';
	font-size: 32px;
	max-width: 70%;
	flex-wrap: wrap;
	flex-flow: wrap;
	justify-content: center;
	margin: 0;

	line-height: 1.8rem;
}

.cert .item.date {
	margin: 60px 0 15px 0;
}

.cert .date, .cert .time {
	font-weight: bold;
	margin: 15px 0 60px 0;
	font-size: 40px;
}

.cert .item b {

	max-height: 30px;
	margin: 0 25px;
}

.cert .item.signature {
	margin-top: 100px;
}

@media only screen {

}

@media only print {
	body {
		overflow: hidden;
	}
	.cert {
		display: flex;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		margin: 0;
		justify-content: space-between;
		border: none;
	}

	.cert .item {
		font-size: 28px;
		max-width: 100%;
	} 

	.cert h1 {
		font-size: 42px;
		margin-bottom: 20px;
	}

	.cert .item.date {
		margin: 5mm 0 2mm 0 !important;
	}

	.cert .date, .cert .time {
		font-weight: bold;
		margin: 15px 0 20px 0;
		font-size: 40px;
	}

	.cert-wrapper {
		position: fixed;
		
		width: 100vw;
		height: 100vh;
		margin: 0;
		background: rgba(255, 0, 0, 0.1);
	}
}